
<div class="p-6 -mb-12 relative -left-6 -top-6"
  style="width: calc(100% + 48px);">

  <!-- Show option to add a post.  -->
  <div *ngIf="!isForm"
    class="flex justify-between items-center border-b pb-6">
    <div class="relative w-12 h-12 mr-4 cursor-pointer"
      [routerLink]="['/me']">
      <img class="rounded-full border border-gray-100 shadow-sm" src="https://randomuser.me/api/portraits/women/81.jpg" alt="user image" />
      <div class="absolute -top-1 -right-1 h-4 w-4 my-1 border-2 border-white rounded-full bg-green-400 z-2"></div>
    </div>
    <div class="flex-grow text-gray-400 cursor-pointer"
      (click)="toggleForm()">
      What's new, Joe?
    </div>
    <button mat-icon-button color="primary" aria-label="Add image"
      class="cursor-pointer"
      (click)="toggleForm()">
      <mat-icon>image</mat-icon>
    </button>
  </div>

  <div *ngIf="isForm">
    <mat-form-field appearance="outline">
      <mat-label>What's new, Joe?</mat-label>
      <textarea matInput autofocus (keyup)="textAreaHeight($event)"></textarea>
    </mat-form-field>
    <div class="flex justify-end mt-1">
      <button mat-stroked-button class="mr-1"
        (click)="toggleForm()">
        Cancel</button>
      <button mat-stroked-button aria-label="Add image"
        class="mr-1"
        (click)="compressImage()">
          <mat-icon color="primary">image</mat-icon> Photo
      </button>
      <button mat-flat-button color="primary">
        Post
      </button>
    </div>

    <img *ngIf="compressedImage" [src]="compressedImage" alt=""
      class='mt-2 w-full'>

  </div>

</div>
