<div>
  <article>
    <p class="font-medium">About this Group <span>&#9660;</span></p>
    <div>
      <p>
        We are residents of the homes near Lone Peak Park (i.e. the skate park) working to make our neighborhood more
        friendly, inclusive, beautiful, and safe.
      </p>
      <p>
        Everyone who lives here can join. Doing so connects you to neighborhood news, messages, events, and
        conversations. Any neighbor with ideas for improving our community can use this group to connect with others.
      </p>
    </div>
  </article>
  <article>
    <p class="font-medium">Recent Events <span>&#9660;</span></p>
    <div>
      <ul>
        <li>Spring and fall cleanup (for Sandy City bulk waste)</li>
        <li>Outdoor movie nights</li>
        <li>Neighborhood barbecues</li>
        <li>Community education</li>
        <li>Hobby meetups (arts, crafts, etc.)</li>
        <li>Finding kids your kids’ age, playgroups, etc.</li>
        <li>Special needs meetups (Special Olympics team, etc.)</li>
      </ul>
      <img src="" alt="neighborhood activities">
    </div>
  </article>
</div>