<div>
  <h3>Welcome to Lonepeak Neighbors!</h3>
  <h4>You have been invited by {{referrer}}</h4>
  <form action="">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput name="first">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput name="last">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mobile #</mat-label>
      <input matInput name="phone">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput name="address">
    </mat-form-field>
    <button mat-button mat-flat-button color="primary" type="submit">Join</button>
  </form>
</div>