<div style="width: 375px; max-width: 100%; padding: 0 16px; margin: auto;">
  <h1>Who are we?</h1>

  <p>
    We're the people next door.
    <br><br>
    We want our neighborhood to feel more welcoming, friendly, beautiful, and
    safe for everyone who lives here!
  </p>

  <div id="map" class="flex justify-center my-6">
    <img src='assets/images/map.jpg'>
  </div>

  <p>
    Anyone who joins is free to communicate, plan events, or create groups
    around shared interests. Just keep it legal and friendly and you're good.
    <br><br>
    Over the past couple of years, we've held various events.
  </p>

  <ul class="list-disc mb-8 px-4 leading-6">
    <li>Spring and fall cleanup</li>
    <li>Barbecues</li>
    <li>Outdoor movie nights</li>
    <li>Meetups (hobbies, learning, sports, etc.)</li>
  </ul>

  <div class="bg-gray-200 p-6 rounded">
    <p>
      This group is not sponsored by a business or
      organization. Only members can see what's shared.
    </p>

    <p>
      Joe Tippetts, a neighbor since 2005, created this group and app. If
      you have any questions, feel free to contact him at
      <u><a href="mailto:lppneighbors@gmail.com">lppneighbors@gmail.com</a></u>.
    </p>
  </div>
</div>
