<h1>Who are the Lone Peak Park Neighbors?</h1>

<p>
  We're the people you live by (see map below). This group is a new way to
  give a crap about each other!
</p>

<p>
  This means having new ways to meet, chat, and do stuff together...
  on your terms. We want you just the way you are!
</p>

<h2>Neighborhood Map</h2>
<div id="gac-map" class="flex justify-center my-5">
  <img src='assets/images/gac-map.jpg'>
</div>

<h2>Events</h2>
<p>
  Anyone with an idea can plan an event, big or small. Here are some
  events we've held.
</p>

<ul class="list-disc mb-8 px-4 leading-6">
  <li>Spring and fall cleanup (for Sandy City bulk waste)</li>
  <li>Neighborhood barbecues</li>
  <li>Outdoor movie nights</li>
  <li>Community education</li>
  <li>Hobby meetups (arts, crafts, biking, gaming... whatever)</li>
  <li>Kid connects - help your kids find other kids their age</li>
  <li>Special needs meetups - Special Olympics basketball, etc.</li>
</ul>

<div class="my-8 justify-center">
  <div class="flex">
    <img src='assets/images/movie-night.jpg'>
  </div>
  <div class="text-sm">Event announcement example</div>
</div>
