<div>

  <mat-toolbar>
    <mat-toolbar-row id="topnav" class="bg-gray-100 h-16">
      <img id='logo' src='assets/images/lppn-logo-sm.png'
          [routerLink]="['/home']" class="cursor-pointer">
      <span *ngIf='!isPhone' class='title'>Lone Peak Park Neighbors</span>
      <span class='spacer'></span>

      <button mat-icon-button class="notifications"
        [routerLink]="['/notifications']"
        aria-label="Notifications button"
        matTooltip="Notifications">
        <mat-icon aria-hidden="false"
          aria-label="Notifications icon"
          matBadge="9" matBadgeColor="warn" matBadgeSize="small">
          notifications_none
        </mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row id="bottomnav" class="bg-gray-100 h-16">
      <div class="flex w-full sm-w-9/12 lg:w-6/12 xl:w-4/12 mx-auto justify-between sm:justify-around">
        <button mat-icon-button class="news"
          [routerLink]="['/home']" routerLinkActive="mat-primary"
          (click)="testConsole('clicked home')"
          aria-label="Home button"
          matTooltip="Home">
          <mat-icon aria-hidden="false">
            home
          </mat-icon>
          <span class="label hidden sm:inline">Home</span>
        </button>

        <button mat-icon-button class="events"
          [routerLink]="['/events']" routerLinkActive="mat-primary"
          (click)="testConsole('clicked events')"
          aria-label="Events button"
          matTooltip="Events">
          <mat-icon aria-hidden="false" aria-label="Events icon">
            event
          </mat-icon>
          <span class="label hidden sm:inline">Events</span>
        </button>

        <button mat-icon-button class="groups"
          [routerLink]="['/groups']" routerLinkActive="mat-primary"
          (click)="testConsole('clicked groups')"
          aria-label="Groups button"
          matTooltip="Groups">
          <mat-icon aria-hidden="false" aria-label="Groups icon">
            groups
          </mat-icon>
          <span class="label hidden sm:inline">Groups</span>
        </button>

        <button mat-icon-button class="me"
          [routerLink]="['/me']" routerLinkActive="mat-primary"
          (click)="testConsole('clicked me');"
          aria-label="Me button"
          matTooltip="Me (profile)">
          <mat-icon aria-hidden="false" aria-label="Profile icon">
            person
          </mat-icon>
          <span class="label hidden sm:inline">Me</span>
        </button>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
