<form *ngIf="verificationState === 0" [formGroup]="mobileFormGroup" (ngSubmit)="submitMobile()">
  <p>Can we use your number to call or text you with neighborhood info?</p>
  <mat-form-field appearance="fill" class="block">
    <mat-label>Mobile Number</mat-label>
    <input type="text" matInput formControlName="mobile" mask="000-000-0000" required>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent" aria-label="Submit" class="w-full sm:w-auto mb-4">Yes, you can
    contact me</button>
</form>
<form *ngIf="verificationState === 1" [formGroup]="verificationFormGroup" (ngSubmit)="submitKey()">
  <p>We just texted you a verification code at <strong>{{mobileFormGroup.value.mobile | mask: '000-000-0000'}}</strong>
    to be sure we
    have your
    correct number.
  </p>
  <mat-form-field appearance="fill" class="block">
    <mat-label>Enter code to verify phone</mat-label>
    <input type="text" matInput formControlName="key" required>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent" aria-label="Submit"
    class="w-full sm:w-auto mb-4">Verify</button>
  <button type="button" mat-raised-button aria-label="Back" (click)="stateReset()">Back</button>
</form>
<div *ngIf="verificationState === 2">
  <img src="assets/images/le-poo.svg" alt="GAC Poop" class="w-6/12 mx-auto">
  <h1 class="text-center mt-2">Congrats [Mindy]!</h1>
  <button mat-raised-button color="accent" [routerLink]="['/home']" class="w-full sm:w-auto">Enter Neighborhood
    Site</button>
</div>