<form *ngIf="verificationState === 0" [formGroup]="mobileFormGroup" (ngSubmit)="submitMobile()">
  <p class="mt-3">
    We send messages to your phone. Your number is not shared with neighbors.
  </p>
  <mat-form-field appearance="fill" class="block">
    <mat-label>Mobile Number</mat-label>
    <input type="text" matInput formControlName="mobile" id="mobile" mask="000-000-0000" required>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent" aria-label="Submit" class="w-full sm:w-auto">
    Yes, you can contact me
  </button>
</form>

<form *ngIf="verificationState === 1" [formGroup]="verificationFormGroup" (ngSubmit)="submitKey()">
  <div class="mt-3 mb-5">
    We texted your verification code to:
    <p class="font-bold text-center my-2">
      {{mobileFormGroup.value.mobile | mask: '000-000-0000'}}
    </p>
  </div>
  <mat-form-field appearance="fill" class="block">
    <mat-label>Enter code to verify phone</mat-label>
    <input type="text" matInput formControlName="key" id="key" required>
  </mat-form-field>
  <button type="submit" mat-raised-button
    color="accent" aria-label="Submit"
    class=" block w-full sm:w-auto">
    Verify Phone Number
  </button>
  <div class="mt-5">
    If you entered the wrong number:
    <p class="text-center mt-2 mb-4">
      <button mat-raised-button
        (click)="stateReset()">
        Re-enter Mobile Number
      </button>
    </p>
  </div>
</form>
