<header class="-mt-20">
  <div id="big-logo" class="sm:text-center">
    <img src="assets/images/lppn-logo-gac.gif" class="sm:inline relative -left-6 sm:left-0" style="max-width: none">
  </div>
</header>
<div class="my-6 fade-in">
  <div *ngIf="currentState === 0" [class]="{ 'fade-in': currentState === 0 }">
    <p>
      <strong>Joe Tippetts</strong>
      has invited you to Lone Peak Park Neighbors!
      <strong>We’re all about giving a crap!</strong>
    </p>
    <p>
      You know... making our neighborhood more friendly, inclusive, beautiful,
      and safe for everyone.

    </p>
    <div class="text-center mt-8 mb-5">
      <button mat-raised-button color="primary" (click)="learnMore()" class="w-full sm:w-auto" aria-label="Learn more"
        matTooltip="Learn more">
        Learn More
      </button>
    </div>
    <div class="text-center mt-5 mb-8">
      <button mat-raised-button color="accent" (click)="join()" class="w-full sm:w-auto" aria-label="Join"
        matTooltip="Join">
        Join the Neighborhood!
      </button>
    </div>
  </div>

  <!-- Join/registration form -->
  <div *ngIf="currentState === 1" [class]="{ 'fade-in': currentState === 1 }" class="-ml-8">

    <mat-stepper orientation="vertical" linear="true" #stepper>
      <mat-step [stepControl]="step1FormGroup">
        <form [formGroup]="step1FormGroup">
          <ng-template matStepLabel>Hi, what's your name?</ng-template>

          <mat-form-field appearance="fill" class="mt-4">
            <mat-label>First</mat-label>
            <input matInput placeholder="First name" formControlName="first" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Last</mat-label>
            <input matInput placeholder="Last name" formControlName="last" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="address" required>
          </mat-form-field>

          <div>
            <button mat-raised-button (click)="join()" aria-label="Back" matTooltip="Back">
              Back to Join
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="step2FormGroup">
        <form [formGroup]="step2FormGroup">
          <ng-template matStepLabel>How can we reach you?</ng-template>

          <mat-form-field appearance="fill" class="mt-4">
            <mat-label>Mobile</mat-label>
            <input matInput placeholder="Mobile number" formControlName="mobile" required>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Welcome [Jake]!</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-stepper>

    <!-- <app-name-address-form></app-name-address-form>
    <app-verification-form></app-verification-form> -->
  </div>

  <div *ngIf="currentState === 2" [class]="{ 'fade-in': currentState === 2 }">
    <button mat-raised-button (click)="learnMore()" aria-label="Back" matTooltip="Back">
      Back to Join
    </button>

    <!-- Plug this within a side nav. -->
    <div class="my-8">
      <!-- <app-about></app-about> -->
    </div>

    <button mat-raised-button (click)="learnMore()" aria-label="Back" matTooltip="Back">
      Back to Join
    </button>
  </div>

  <div class="my-8">
    <!-- <app-referrer-card></app-referrer-card> -->
  </div>
</div>