<div>
  <h3>Contact a Neighborhood Admin</h3>
  <form action="">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput name="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mobile #</mat-label>
      <input matInput name="phone">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput name="message" id="message" cols="30" rows="3"></textarea>
    </mat-form-field>
    <button mat-button mat-flat-button color="primary" type="submit">Send Message</button>
  </form>
</div>