
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $gackfront-primary: mat.define-palette(mat.$indigo-palette);

// Here, 'text' refers to when you use a text button (colored text), not the
// text color of the raised button.
// define-palette(palette, default, lighter, darker, text)
$gackfront-primary: mat.define-palette(mat.$blue-palette, A400, 400, 700, A400);
$gackfront-accent: mat.define-palette(mat.$green-palette, 700, 400, 800, 500);

// The warn palette is optional (defaults to red).
$gackfront-warn: mat.define-palette(mat.$pink-palette, A400, 500, 800);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gackfront-theme: mat.define-light-theme((
  color: (
    primary: $gackfront-primary,
    accent: $gackfront-accent,
    warn: $gackfront-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gackfront-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
